<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c74a3b87-b6e9-454e-a227-28b0cb9cbab5/resourcegroups/namnguyen/providers/Microsoft.Web/sites/Shop-BE20240705160013</ResourceId>
    <ResourceGroup>namnguyen</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://shop-be20240705160013.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>59eb07cc-0ca9-46fd-8332-24a68f127e20</ProjectGuid>
    <PublishUrl>https://shop-be20240705160013.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Shop-BE20240705160013</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>